.cabecera{
	width:100%;
	height:15%;
	background-color:#0B615E;
	position:absolute;
	top:0%;
	left:0%;
}

.indice{
	width:20%;
	height:80%;
	background-color:#A9A9F5;
	position:absolute;
	top:16%;
	left:0.2%;
}

.contenido{
	width:80%;
	height:300%;
	background-color:#A9F5F2;
	position:absolute;
	top:16%;
	left:20.5%;
}
